body {
    background-color: #499c5f;
    font-family: "Monaco";
    position: relative;
}

u {
    font-size: 20px;
    font-style: bold
}

.joke-card {
    background-color: #F9F5AF;
    text-align: left;
    border-style: dashed;
    border-color: #a86232;
    border-width: 5px;
    padding: 1rem;
    max-width: 900px;
    min-height: 5rem;
    display: inline-block;
    margin: .5rem 0rem;
}

.listing h2,p {background-color:inherit;}

.listing {
    position: absolute;
    top: 80px;
    left: 220px;
}

.left-form{
    background-color: #f2fa82;
    width: 200px;
    height: 1200px;
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.selection {
    text-align: left;
    position: relative;
    left: 40px;
    top: 10px;
}

.search-bar {
    background-color: #f2fa82;
    width: 750px;
    height: 55px;
    position: absolute;
    padding-top: 6px;
    padding-left: 10px;
    left: 220px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-input {
    background-color: #e7f5c6;
    margin: 10px;
}
