body {
    background-color: #499c5f;
    font-family: "Monaco";
    position: relative;
}

u {
    font-size: 20px;
    font-style: bold
}

.joke-card {
    background-color: #F9F5AF;
    text-align: left;
    border-style: dashed;
    border-color: #a86232;
    border-width: 5px;
    padding: 1rem;
    max-width: 900px;
    min-height: 5rem;
    display: inline-block;
    margin: .5rem .5rem;
}

.joke-card b {
    display: block;
    margin-bottom: .25rem;
}

.joke-card p {
    padding-left: 40px;
}

.joke-card button {
    margin: 10px;
}

.listing {
    position: absolute;
    top: 0px;
    left: 220px;
}

.listing h2, p {
    background-color:inherit;
}

.left-form{
    background-color: #f2fa82;
    width: 200px;
    /* height: 1200px; */
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-form button {
    float: inherit;
    margin-bottom: 1rem;
}

.search input{
    float: inherit;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.search input:hover {
    width: 600px;
}

.selection {
    text-align: left;
    position: relative;
    left: 40px;
    top: 10px;
}

.search-bar {
    background-color: #f2fa82;
    width: 600px;
    height: 55px;
    /* position: absolute; */
    padding-top: 6px;
    padding-left: 10px;
    left: 220px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-input {
    background-color: #e7f5c6;
    margin: 10px;
}

.clear_before_submit {
    float: inherit;
    margin-bottom: 1rem;
}

.favorites button {
    background-color: #a86232; /* Blue background */
    border: none; /* Remove borders */
    border-radius: 8px;
    color: black; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    float: inherit;
    margin-top: 1rem;
}

.favorites button:hover {
    background-color: #499c5f;
    
}